---
import Layout from '../layouts/Layout.astro';
import Footer from '../sections/Footer.astro';
import Graph from '../sections/Graph.astro';
import Info from '../sections/Info.astro';
import Hero from '../sections/Hero.astro';
import PrincipalInfo from '../sections/PrincipalInfo.astro';
---

<Layout title="Uwired">
	<Hero />
	<main>
		<PrincipalInfo />
		<Info />
		<Graph />
	</main>
	<Footer />
</Layout>


