---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Uwired">
	<main>
		<h1>Uwired</h1>
		<p>
			Aplicación web para determinar el cumplimiento de estaciones transmisoras
			con la resolución 773 de la ANE. Interfaz intuitiva y gráficos explicativos.
		</p>
	</main>
</Layout>


