---
import Layout from '../layouts/Layout.astro';
import Footer from '../sections/Footer.astro';
import Graph from '../sections/Graph.astro';
import Info from '../sections/Info.astro';
import Hero from '../sections/Hero.astro';
import PrincipalInfo from '../sections/PrincipalInfo.astro';
import Aplicativo from '@/sections/Aplicativo.astro';
---

<Layout title="Uwired">
	<Hero /> <!-- Presentacion -->
	<main>
		<PrincipalInfo /> <!-- Marco Teorico Basado en lo que usaremos de la ANE -->
		<Info /> <!-- Manual de Usuario -->
		<Graph /> <!-- ¿Grafico explicativo? -->
		<Aplicativo /> <!-- Aplicacion -->
	</main>
	<Footer />
</Layout>


