---
import Logo from "../components/HeroLogo.astro"
---

<section class="flex flex-row mt-8 mx-11">
  <div class="w-1/2">
    <form class="mx-44" id="InformacionEstacion">
      <div class="form-group">
        <label for="nombreT">Titular</label>
        <input
          type="text"
          class="form-control"
          name="nombre_titular"
          id="nombre_titular"
          placeholder="Nombre"
        />
      </div>

      <div class="form-group">
        <label for="UsoE">Para qué se usa la estación</label>
        <select class="form-control" id="TipoE" name="TipoE">
          <option value="Telefonia">Telefonia</option>
          <option value="Radio">Radio</option>
          <option value="Television">Tv</option>
        </select>
      </div>

      <div class="form-group">
        <label for="TipoA">Tipo de Área</label>
        <select class="form-control" id="TipoA" name="TipoA">
          <option value="rural">Rural</option>
          <option value="urbano">Urbano</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Lat">Latitud</label>
        <input
          type="number"
          class="form-control"
          id="Lat"
          name="Lat"
          placeholder="0"
        />
      </div>

      <div class="form-group">
        <label for="Long">Longitud</label>
        <input
          type="number"
          class="form-control"
          id="Long"
          name="Long"
          placeholder="0"
        />
      </div>

      <div class="form-group">
        <label for="Alt">Altura (En m desde el piso)</label>
        <input
          type="number"
          class="form-control"
          step="0.01"
          id="Alt"
          name="Alt"
          placeholder="0"
        />
      </div>

      <div class="form-group">
        <label for="TipoAnt">Modelo de antena</label>
        <select class="form-control" id="TipoAnt" name="TipoAnt">
          <option value="AAS">AAS</option>
          <option value="FDD">FDD</option>  
        </select>
      </div>

      <div class="form-group">
        <label for="TipoBandas">Bandas de la Antena</label>
        <select class="form-control" id="TipoBandas" name="TipoBandas">
          <option value="Unica">Unica</option>
          <option value="Multibanda">Multibanda</option>
          <option value="IMT">IMT</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Pot">Potencia (W)</label>
        <input
          type="number"
          class="form-control"
          step="0.01"
          id="Pot"
          name="Pot"
          placeholder="0"
        />
      </div>

      <div class="form-group">
        <label for="Gan">Ganancia (dbm)</label>
        <input
          type="number"
          class="form-control"
          step="0.01"
          id="Gan"
          name="Gan"
          placeholder="0"
        />
      </div>

      <div class="form-group">
        <label for="fr">Frecuencia (MHz)</label>
        <input
          type="number"
          class="form-control"
          step="0.01"
          id="fr"
          name="fr"
          placeholder="0"
        />
      </div>

      <div class="form-group">
        <label for="in">Inclinacion (°)</label>
        <input
          type="number"
          class="form-control"
          step="0.01"
          id="in"
          name="in"
          placeholder="45°"
        />
      </div>

      <div class="form-group">
        <label for="ac">Acimut (°)</label>
        <input
          type="number"
          class="form-control"
          step="0.01"
          id="ac"
          name="ac"
          placeholder="90°"
        />
      </div>

      <button type="button" class="btn btn-primary" onclick="MarlonGod()"
        >Prueba</button
      >
    </form>
  </div>
  <div class="w-1/2 flex justify-center items-center">
    <div class="logo">
      <Logo class="w-[750px] animate-pop">
    </div>
    <div class="texto hidden">
      <div class=" animate-fade-in">
      Las especificaciones de la antena acatan la resolucion 773 de la ANE, dentro de las caracteristicas
      que se proporcionan en la <span class=" italic">tabla 2 - Procedimiento de evaluacion clasificada de cumplimiento
      de los niveles de exposicion</span>
      <br><br>
      <li>
        <ul>1 - No necesita de mediciones</ul> <!-- Medicion -->
        <ul>2 - No necesita de señalizacion</ul> <!-- Señalizacion -->
        <ul>3 - La distancia ocupacional</ul> <!-- Medicion distancia ocupacional, poblacional y X-->
      </li>
      </div>
    </div>
  </div>

    


    <style>
      .container {
        border: 2px solid black;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
      }

      .form-group {
        margin-bottom: 20px;
      }

      .form-control {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      .btn {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .btn:hover {
        background-color: #0056b3;
      }
    </style>

    <script type="text/javascript" src="../src/JavaScript/Funciones.js"
    ></script>
  </astro-layout>
</section>
