---
import Logo from "../components/HeroLogo.astro"
---

<section class="flex flex-col justify-center items-center">
    <span class="uppercase text-secondary bg-primary px-2 py-1 font-medium">
        Presentacion de la
    </span>
    <Logo class="scale-50"/>
</section>