---
import Logo from "../components/HeroLogo.astro"
---

<section class="flex flex-col justify-center items-center m-0 p-0">
    <span class="uppercase text-secondary bg-primary px-2 py-1 font-medium">
        Presentacion de
    </span>
    <Logo class="scale-x-50 scale-y-50 mg-10"/>
</section>