<h1 class="text-white animate-blurred-fade-in">Uwired</h1>
		<p>
			Aplicación web para determinar el cumplimiento de estaciones transmisoras
			con la resolución 773 de la ANE. Interfaz intuitiva y gráficos explicativos.
		</p>